<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/fragments/header :: header"></header>

    <!-- =============================================== -->

    <!-- Left rside column. contains the sidebar -->
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <div class="container">
            <h2>Danh sách tài khoản</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Is_delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="authRole : ${authRoles}">
                    <td th:text="${authRole.id}"></td>
                    <td th:text="${authRole.username}"></td>
                    <td th:text="${authRole.email}"></td>
                    <td>
                        <form th:action="@{/updateRole}" method="post">
                            <input type="hidden" name="id" th:value="${authRole.id}">
                            <div class="input-group">
                                <select class="form-select" name="role">
                                    <option th:value="${authRole.role}" th:text="${authRole.role}" selected></option>
                                    <option th:value="${authRole.role == 'ROLE_EMPLOYEE' ? 'ROLE_OWNER' : 'ROLE_EMPLOYEE'}"
                                            th:text="${authRole.role == 'ROLE_EMPLOYEE' ? 'ROLE_OWNER' : 'ROLE_EMPLOYEE'}">
                                    </option>
                                </select>
                                <button type="submit" class="btn btn-primary">Set</button>
                            </div>
                        </form>
                    </td>

                    <td th:text="${authRole.delete}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <footer th:replace="admin/fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
