<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/fragments/header :: header"></header>

    <!-- =============================================== -->

    <!-- Left rside column. contains the sidebar -->
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <div class="container">
            <h2>Danh sách tài khoản</h2>

            <form action="/admin/authRoles" method="get" class="d-flex align-items-center">
                <input type="text" name="keyword" class="form-control form-control-sm me-2"
                       placeholder="Tìm kiếm theo tên"
                       th:value="${keyword != null and keyword != '' ? keyword : null}"
                       style="width: 200px;">
                <button type="submit" class="btn btn-primary btn-sm">Tìm kiếm</button>
            </form>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Is_delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="authRole : ${usersPage.content}">
                    <td th:text="${authRole.id}"></td>
                    <td th:text="${authRole.username}"></td>
                    <td th:text="${authRole.email}"></td>
                    <td>
                        <form th:action="@{/updateRole}" method="post">
                            <input type="hidden" name="id" th:value="${authRole.id}">
                            <div class="input-group" style="display: flex; align-items: center; gap: 10px;">
                                <select class="form-select" name="role">
                                    <option th:value="${authRole.role}" th:text="${authRole.role}" selected></option>
                                    <option th:value="${authRole.role == 'ROLE_EMPLOYEE' ? 'ROLE_OWNER' : 'ROLE_EMPLOYEE'}"
                                            th:text="${authRole.role == 'ROLE_EMPLOYEE' ? 'ROLE_OWNER' : 'ROLE_EMPLOYEE'}">
                                    </option>
                                </select>
                                <button th:style="'margin-top: -5px;'" type="submit" class="btn btn-primary">Set
                                </button>
                            </div>
                        </form>
                    </td>
                    <td th:text="${authRole.delete}"></td>
                </tr>
                </tbody>
            </table>

            <!-- Phân trang -->
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    <!-- Nút Previous -->
                    <li class="page-item" th:if="${currentPage > 0}">
                        <a class="page-link" th:href="@{/admin/authRoles(page=${currentPage - 1})}">Previous</a>
                    </li>

                    <!-- Hiển thị danh sách số trang -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                        <a class="page-link" th:href="@{/admin/authRoles(page=${i})}"
                           th:text="${i + 1}"
                           th:classappend="${i == currentPage} ? 'active' : ''">
                        </a>
                    </li>

                    <!-- Nút Next -->
                    <li class="page-item" th:if="${currentPage < totalPages - 1}">
                        <a class="page-link" th:href="@{/admin/authRoles(page=${currentPage + 1})}">Next</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /.content-wrapper -->
    <footer th:replace="admin/fragments/footer :: footer"></footer>
    <!-- ./wrapper -->
</div>
<!-- jQuery 3 -->
<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
