<header class="main-header" th:fragment="header">
    <!-- Logo -->
    <a href="/admin" class="logo">
        <!-- Logo thu nhỏ cho sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>G1</b></span>
        <!-- Logo cho chế độ bình thường và thiết bị di động -->
        <span class="logo-lg">QUẢN LÝ KHO GẠO</span>
    </a>
    <!-- Thanh điều hướng -->
    <nav class="navbar navbar-static-top">
        <!-- Nút thu gọn sidebar -->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Chuyển đổi điều hướng</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Tài khoản người dùng -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="${user != null && user.avatar != null ? user.avatar : '/assets/images/pushImg/avatar_trang_1_cd729c335b.jpg'}"
                             th:style="'width: 25px; height: 25px; object-fit: cover; border-radius: 50%; border: 2px solid #fff;'"
                             alt="User Avatar">
                        <span th:text="${user != null ? user.username : 'Guest'}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img  th:src="${user != null && user.avatar != null ? user.avatar : '/assets/images/pushImg/avatar_trang_1_cd729c335b.jpg'}"
                                  th:style="'width: 25px; height: 25px; object-fit: cover; border-radius: 50%; border: 2px solid #fff;'"
                                  alt="User Avatar">
                            <p>
                            <p th:text="${user != null ? user.username : 'Guest'}"></p>
                            <p th:text="${user.role == 'ROLE_ADMIN' ? 'Admin' : (user.role == 'ROLE_EMPLOYEE' ? 'Employee' : 'Owner')}"></p>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a th:href="@{/profile}" class="btn btn-default btn-flat">Hồ sơ</a>
                            </div>
                            <div class="pull-right">
                                <form action="#" th:action="@{/logout}" method="POST">
                                    <input type="submit" class="btn btn-info" value="Đăng xuất"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
