<div th:fragment="script">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/adminlte.min.js}"></script>
    <script th:src="@{/assets/js/dashboard.js}"></script>
    <script th:src="@{/assets/js/function.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/assets/js/salesChart.js}"></script>
    <script th:src="@{/assets/js/timeReport.js}"></script>

</div>